<h1>Edit This Article</h1>

<%= form_for @article do |article| %>
	<p>
		<%= article.label :title %>
		<%= article.text_field :title %>
	</p>
		<%= article.fields_for :sections do |section| %>
		<p>
			<%= section.label :fmttype, 'Style type' %>
			<%= select(:section, :fmttype, [['heading', 'heading'], ['body text', 'body']]) %>
		</p>
		<p>
			<%= section.label :content %><br/>
			<%= section.text_area :content%>
		</p>
		<% end %>
		<p>
		<%= article.submit "Update" %>
		</p>
<% end %>

<hr />
<%= link_to "Cancel and return to Article", article_path(@article), { :class => "btn btn-primary" } %>
<p></p>